# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
*.egg-info/
dist/
build/
output/

# Logs
logs/
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.swp